global:
    config_version: {{ item.config_version }}

input:
    {{ item.input | to_nice_yaml(indent=4) | indent(4, False) }}

grok:
    patterns_dir: "/etc/grok_exporter/patterns"
    additional_patterns: {{ item.additional_patterns | to_yaml }}

metrics:
    {{ item.metrics | to_nice_yaml(indent=4) | indent(4, False) }}

server:
  host: {{ item.server.host | default(ansible_default_ipv4.address) }}
  port: 9144
